# Active project directory in projects/
CURRENT_PROJECT=s3-tiny-stories

# Available projects:
# CURRENT_PROJECT=cyd-ethernet-bruce
# CURRENT_PROJECT=cyd-ntp-stratum1
# CURRENT_PROJECT=s3-sourdough
# CURRENT_PROJECT=s3-tiny-stories
