**/stories15M.bin 

# Python & Virtual Environments
__pycache__/
.venv/

# Datasets and Tokenizer outputs
data/

# Model Checkpoints and Training Logs
runs/
*.pt

# Exported Model Binaries
*.bin

# PlatformIO build files
.pio/

# Jupyter & Google Colab Artifacts
.ipynb_checkpoints/
*_output.ipynb
artifacts/

# Temporary Payload Archives & Logs
*.tar.gz
*.log
